//Variáveis
$amarelo: #ff9f1c;
$preto: #000;
$escuro: #010101;
$cinza: #666;

$tablet: 'screen and (min-width: 768px)';
$desktop: 'screen and (min-width: 992px)';

//mixins
@mixin border-radius($radius){
    border-radius: $radius;
}

@mixin flex($position) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: $position;
    -ms-flex-align: $position;
    align-items: $position;
    -webkit-justify-content: $position;
    -ms-flex-pack: $position;
    justify-content: $position;
}

.wrapper {

    @media screen and (min-width:340px) {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.bg-yellow {
    background-color: $amarelo;
}

.white {
    color: #fff;
}

.cinza {
    color: $cinza;
}

.preto-claro {
    color: $escuro;
}

.font-default {
    font-family: 'Bell';
}

.font-bold {
    font-family: 'BellBold';
}

.buttons {
    font-family: 'Open Sans';
    font-size: 1.175em;
    justify-content: center;
    @include flex(center);
}
