.title-feature {
    font-size: 2.5em;
    text-align: center;
    padding: {
        top: 2rem;
        bottom: 1rem;
    }
}

.filtrar {
    padding-right: 0;
}

.ordenar {
    padding-left: 0;
}

.mobile-fixed {
    width: 100vw;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    &.ordena-box {
        height: 100%;
    }

    .mobile-fixed--title {
        font-size: 2em;
        color: $cinza;
        border-bottom: 1px solid;
        line-height: 1;
        padding: {
            top: 25px;
            bottom: 15px;
            left: 10px;
            right: 10px;
        }

        .mobile-fixed_close {
            float: right;

            &:before {
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: block;
                content: '';
                background: {
                    image: url(../images/close.png);
                    repeat: no-repeat;
                }
            }
        }
    }

    .mobile-fixed--ul {
        list-style: none;
        margin: {
            left: 15px;
            top: 30px;
        }

        .mobile-fixed--li {
            color: $preto;
            font-size: 1.5em;
            margin: {
                bottom: 1.4em;
            }

            .mobile-fixed--li_title {
                font-size: 1.5em;
                display: block;

                &:after {
                    position: absolute;
                    right: 0;
                    top: 8px;
                    content: '';
                    width: 30px;
                    height: 30px;
                    float: right;
                    margin-right: 10px;
                    background: {
                        image: url(../images/more.png);
                        repeat: no-repeat;
                    }
                }

                &.mobile-fixed--li-close {
                    &:after {
                        background-image: url(../images/anyless.png);
                        top: 20px;
                    }
                }
            }
        }
    }

    &.filtrar-box {

        .mobile-fixed--ul {

            .mobile-fixed--li {
                position: relative;

                .mobile-fixed--sub {
                    list-style: none;

                    .checkbox {
                        width: 30px;
                        height: 30px;
                        position: relative;
                        border: 1px solid $cinza;
                        display: inline-block;
                        margin: {
                            top: 20px;
                            bottom: 20px;
                            right: 15px;
                        }

                        label {
                            width: 26px;
                            height: 26px;
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            cursor: pointer;

                            &:after {
                            content: '';
                            width: 21px;
                            height: 21px;
                            position: absolute;
                            background: $amarelo;
                            opacity: 0;
                            left: -8px;
                            top: -1px;
                            }
                        }

                        input[type=checkbox] {
                            visibility: hidden;
                            &:checked + label:after {
                                opacity: 1;
                            }
                        }
                    }
                }

                .submenu-quadrado {
                    list-style: none;
                    @include flex(flex-start);
                    flex-wrap: wrap;

                    .submenu-quadrado--li {
                        color: $cinza;
                        float: left;
                        width: 70px;
                        height: 70px;
                        border: 1px solid;
                        @include flex(center);
                        margin: {
                            top: 15px;
                            left: 10px;
                        }

                        &.submenu-quadrado--li_active {
                            border-color: $amarelo;
                        }
                    }
                }
            }
        }

        .filtrar-box--buttons {
            display: inline;
            width: 40%;
            border: 2px solid;
            margin-top: 2em;
            padding: {
                top: 25px;
                bottom: 20px;
            }

            &:nth-child(odd) {
                margin-left: 25px;
            }

            &:nth-child(even) {
                border: 1px solid $cinza;
                margin-left: 35px;

                @media (max-width: 330px) {
                    margin-left: 20px;
                }

                @media (min-width: 340px) and (max-width: 380px) {
                    margin-left: 25px;
                }
            }
        }
    }
}

.carregar-mais {
    width: 100%;
    font-size: 1.7em;
    letter-spacing: 2px;
    margin: {
        top: 1em;
        bottom: 2em,
    }

    padding: {
        top: 0.8em;
        bottom: 0.6em,
    }
}
